---
layout: default
section: about
---

<header class="about">About Us</header>

<div class="sidebar-left span4">
    <div class="well">
    <h3>About Us</h3>
    <ul class="submenu">
        <li><a href="/about/index.html">Who We Are</a></li>
        <li><a href="/about/what-we-do.html">What We Do</a></li>
        <li><a href="/about/why-open-licensing.html">Why Open Licensing</a></li>
        <li><a href="/about/gestalt-foundation.html">The Gestalt Foundation</a></li>
    </ul>
    </div>

    <div class="well">
    <h5>Side bar</h5>
    <ul>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
        <li><a href="#">Link</a></li>
    </ul>
    </div>
</div>

<div class="content span12">
    {{content}}
</div>
