---
layout: default
title: About Us
section: about
---
<header class="about">About Us</header>

<div class="sidebar-left span4">
	<div class="well">
		<h3>About Us</h3>
		<ul class="submenu">
			<li>
				<a href="#">Who We Are</a>
			</li>
			<li>
				<a href="#">What We Do</a>
			</li>
			<li>
				<a href="#">Why Open Licensing</a>
			</li>
			<li>
				<a href="#">The Gestalt Foundation</a>
			</li>
		</ul>
	</div>

	<div class="well">
		<h5>Side bar</h5>
		<ul>
			<li>
				<a href="#">Link</a>
			</li>
			<li>
				<a href="#">Link</a>
			</li>
			<li>
				<a href="#">Link</a>
			</li>
			<li>
				<a href="#">Link</a>
			</li>
		</ul>
	</div>
</div>

<div class="content span12">
	{{content}}
</div>
